@import '../../_styles/vars';

.image-holder {
  position: absolute;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  bottom: calc(10% + 50px);
  width: 200%;
  max-width: 90vw;
  height: 75%;

  &[data-style='opaque'] {
    background-color: white;
    border-radius: 10px;
    box-shadow: $shadow;
  }

  .title {
    display: block;
    font-size: 64px;
    align-self: center;
    text-align: center;
    padding: 20px;

    @include phones {
      font-size: 30px;
    }
  }

  img {
    border-radius: 10px;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
  }
}
