@import '../../_styles/vars';

.easel {
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 350px;
  max-width: 50%;
  height: 85vh;
  max-height: 750px;
  margin: auto auto;

  .easel-part {
    background-color: $white;
    box-shadow: $shadow;
    border-radius: 10px;
  }

  .easel-part {
    &.title {
      position: absolute;
      bottom: 10%;
      font-size: 50px;
      padding: 15px 40px;
      white-space: nowrap;

      @include phones {
        font-size: 30px;
      }
    }

    &.arm {
      width: 50px;
      height: 100%;
      display: inline-block;

      &-left {
        transform: rotate(18deg);
      }

      &-right {
        transform: rotate(-18deg);
      }
    }
  }
}
