$teal: #05a6a1;
$magenta: #a20171;
$purple: #43317b;
$black: #000137;
$white: #ffffff;
$light-grey: #f1f1f1;
$shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.14);

@mixin phones() {
  @media (max-width: 575px) {
    @content;
  }
}
